<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">   
      <h1>About Us</h1>
      <div class="sub-text-headline">We are an emerging, evangelical, non-traditional, full gospel fellowship, seeking to lead people toward a closer relationship with the person of Jesus Christ and a growing knowledge of Biblical Truth.</div>
      <p>If you are looking for a closer relationship with Jesus and His followers, we would like for you to worship with us on <b>Sunday, at 10 a.m.</b></p>
      <p>New Life was originally started as a church plant mothered by Akron Springfield Assembly of God and led by Pastor Scott Spencer.  After Pastor Spencer left, Pastor Bill Mullett led the congregation for several years.  We&#39;re grateful for thier vision and sacrifice in both starting and sustaining this work.  Pastor Johnson has led New Life since November of 2001.</p>
      <p>New Life is comprised of people from many different faith backgrounds, as well as people who are probably pre-Christian or who have no faith background at all.  We hold to core evangelical values, but are comfortable with diverisity regarding secondary issues.</p>
      <p>New Life is affiliated with the General Council of the Assemblies of God.  Feel free to click <a href="http://ag.org/top/Beliefs/Statement_of_Fundamental_Truths/sft_short.cfm">this link</a> for a summary of those beliefs.</p>
      <hr/>
      <h3>Worship Style</h3>
      <p>We believe that music is an important part of the entire worship experience. For this reason, our Sunday morning normally begins with worship time led by a team consisting of guitars, drums, a keyboard, and vocalists.</p>
      <p>At New Life, we strive to create an atmosphere free of distraction and open for the Holy Spirit to minister to people during worship. Our responsibility in worship is to simply keep ourselves open to Christ and respond in obedience to Him. Our worship team comes prepared to lead our community in worship through both contemporary and traditional music styles, while embracing flexibility and sensitivity to the Holy Spirit and people&#39;s needs.</p>
      <p>While our worship style leans toward the contemporary, we also appreciate and embrace Biblical hymns.  We simply want to blend good music, both new and old (rich in theology and meaning) music that leads us into the presence of the Lord.  During this time, again we invite the Holy Spirit to be among us and to prepare our hearts for the message.</p>
      <hr/>
      <h3>What You Can Expect When You Visit On A Sunday Morning!</h3>
      <ul>
        <li>Experience a quiet drive leading you the Uniontown/Hartville area</li>
        <li>Meet friendly people who greet you as you come in</li>
        <li>Relax in clothes that are casual and comfortable - jeans are fine - and if you want to dress up, that&#39;s OK too</li>
        <li>Grab a cup of freshly brewed coffee as you come through the door</li>
        <li>Listen for the sound of music that invites God into our lives</li>
        <li>People often sing with eyes closed, hands lifted, or whatever helps them connect with God</li>
        <li>Song lyrics are on the screen</li>
        <li>You will usually see a Power Point presentation with teaching notes and details of opportunities to connect with others at New Life</li>
        <li>During worship, Doc and Kathy are usually available for individual prayer, including the laying on of hands and anointing with oil, if you wish</li>
        <li>The 90 minute service includes music, a relevant message, and prayer</li>
        <li>We receive an offering that permits us keep doing what we do. The offering is low key and not intended for first time guests (unless you have money that is burning a hole in your pocket!)</li>
        <li>During the service we take a brief break to refill our coffee and connect with each other</li>
        <li>We conclude at about 12:00 noon with friends visiting and often teaming up to go to lunch</li>
      </ul>
    </div>
  </div>
</div>