<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text"> 
      <h1>Funding</h1>
      <div class="sub-text-headline">How we are funded:</div>
      <p>The monthly expenses of New Life are met by the generous tithing and giving of those who consider New Life their church home.</p>
      <p>We work to keep our monthly expenses low.  Pastor Shane takes only a part time salary, providing for his family not only by pastoring, but also by teaching (Malone, ATS, IWU).  In 2004, New Life paid off our mortgage and have remained debt free since then, in an effort to put more funds into ministry and less into a building.</p>
      <p>We want to say a special <b>thank you</b> to those who regularly give so sacrificially to the ministry and mission of New Life.</p>
      <p>While Doc Johnson regularly stresses the importance of tithing, and regularly giving to missions and the needy, we welcome anyone to New Life, whether you financially support this ministry or not.</p>
    </div>
  </div>
</div>