<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">
      <h1>Leadership</h1>
      <div class="sub-text-headline">The leadership of New Life Christian church is as follows:</div>
      <h3>Jesus <small>(Ephesians 1:8-23)</small></h3>
      <p>Jesus is the head of the church.</p>
      <hr />
      <h3>Apostles and Prophets <small>(Ephesians 4, 1 Corinthians 12:27-28)</small></h3>
      <p>Apostles and Prophets regularly help lay solid foundations to ensure we stay on course.</p>
      <hr />
      <h3>Elders <small>(1 Timothy 3: 1-7, Titus 1: 6-9)</small></h3>
      <p>The elders (&quot;pastors&quot;) are appointed by God to shepherd and lead the church. The elders/pastors represent the primary leadership and meet regularly to discuss the doctrine and direction of the Church, as well as pastoral situations. The elders/pastors endeavour to preach, teach, and counsel for the glory of God.</p>
      <div class="whos-who-wrapper">
        <h4>Pastor Shane Johnson</h4>
          <img src="/assets/img/photo-sean.jpg" class="whos-who pull-left">
        <p>Pastor Shane L. &quot;Doc&quot; Johnson serves New Life Church as our Lead Pastor. He has pastored five churches in Ohio since 1984.  Shane graduated Southeastern University in 1984 with a B.A. in Pastoral Ministries, and from Ashland Theological Seminary in 1998 with an M.Div. in Bible. In 2003 he graduated from Ashland with a D.Min. in Leadership.  In addition to being the lead Pastor at New Life, Pastor Shane is also serves as an adjunct professor at The Malone University School of Theology and Ashland Theological Seminary, and serves as an affiliate faculty member at Indiana Wesleyan University in Cleveland.  Pastor Shane also served Emerge Ministries in Akron as a pastoral counselor to clergy on the Ministerial Enrichment HelpLine from June of 1998 through mid December of 2008.  In the fall of 2005 Doc began his consulting practice, barnabasconsulting.org.  His wife, Kathy, and he have four children: Nathan, Seth, Olivia, and Micah.</p>
      </div>
      <hr />
      <h3>Leadership Team</h3>
      <div class="whos-who-wrapper">
        <h4>Steven Dobo</h4>
        <img src="/assets/img/photo-sean.jpg" class="whos-who pull-left">
        <p>Need photo and bio.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu tempor sem. Etiam nec orci justo. Cras purus mi, volutpat vitae faucibus sit amet, laoreet nec diam. Nunc et lorem felis. Cras mattis magna tortor, vitae sodales nulla gravida sit amet. Fusce dictum id metus nec luctus. Proin bibendum sagittis congue. Etiam laoreet nunc ut dolor fringilla elementum. Curabitur vel egestas ligula, a venenatis dolor. Donec euismod ex a justo pharetra, ac varius metus tempor. Fusce porttitor hendrerit purus, id pharetra arcu porta sed. Integer non lobortis justo, eu gravida massa. Etiam fringilla nulla sed eros imperdiet, sit amet egestas lorem pharetra. Proin eleifend tellus vel euismod euismod. Maecenas porta aliquet mollis. Ut porta rhoncus erat ut iaculis.</p>
      </div>
      <div class="whos-who-wrapper">
        <h4>Roy Glaze</h4>
        <img src="/assets/img/photo-sean.jpg" class="whos-who pull-left">
        <p>Need photo and bio.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu tempor sem. Etiam nec orci justo. Cras purus mi, volutpat vitae faucibus sit amet, laoreet nec diam. Nunc et lorem felis. Cras mattis magna tortor, vitae sodales nulla gravida sit amet. Fusce dictum id metus nec luctus. Proin bibendum sagittis congue. Etiam laoreet nunc ut dolor fringilla elementum. Curabitur vel egestas ligula, a venenatis dolor. Donec euismod ex a justo pharetra, ac varius metus tempor. Fusce porttitor hendrerit purus, id pharetra arcu porta sed. Integer non lobortis justo, eu gravida massa. Etiam fringilla nulla sed eros imperdiet, sit amet egestas lorem pharetra. Proin eleifend tellus vel euismod euismod. Maecenas porta aliquet mollis. Ut porta rhoncus erat ut iaculis.</p>
      </div>
      <div class="whos-who-wrapper">
        <h4>Gary Brown</h4>
        <img src="/assets/img/photo-sean.jpg" class="whos-who pull-left">
        <p>Need photo and bio.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu tempor sem. Etiam nec orci justo. Cras purus mi, volutpat vitae faucibus sit amet, laoreet nec diam. Nunc et lorem felis. Cras mattis magna tortor, vitae sodales nulla gravida sit amet. Fusce dictum id metus nec luctus. Proin bibendum sagittis congue. Etiam laoreet nunc ut dolor fringilla elementum. Curabitur vel egestas ligula, a venenatis dolor. Donec euismod ex a justo pharetra, ac varius metus tempor. Fusce porttitor hendrerit purus, id pharetra arcu porta sed. Integer non lobortis justo, eu gravida massa. Etiam fringilla nulla sed eros imperdiet, sit amet egestas lorem pharetra. Proin eleifend tellus vel euismod euismod. Maecenas porta aliquet mollis. Ut porta rhoncus erat ut iaculis.</p>
      </div>
    </div>
  </div>
</div>