<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text" id="membership">   
      <h1>Membership</h1>
      <div class="sub-text-headline">We believe membership is important, and not to be entered in to lightly or in an uninformed way.  Commitment is the single most important ingredient to membership here at New Life - commitment to the Lord, to His Word, and to each other as the Body of Christ.</div>
      <p>If you are interested in becoming a member at New Life, we ask that you will have already established a pattern of regular attendance and tithing/giving for three months, and then answer the following questions, to be emailed to Pastor Shane at <a href="mailto:shjohnson@malone.edu">shjohnson@malone.edu</a>.</p>
      <ol>
        <li>Salvation
          <p>When and where did you accept Christ as your Savior? Please be as specific as you can.</p>
        </li>
        <li>Baptism
          <p>When and where were you baptized as a believer in Christ? If you have not yet been baptized, would you like to be? Why do you believe baptism is important?</p>
        </li>
        <li>Doctrine
          <p>Are you in agreement with our beliefs, and why? Please describe a completely as possible any differences you might have.</p>
        </li>
        <li>Attendance
          <p>Are you willing to regularly attend (about 3 Sundays per month or more) New Life and make it your church home, except for sickness, work, school breaks or unusual circumstances? In other words, what role does church attendance play in being a good church member?</p>
        </li>
        <li>Stewardship
          <p>Are you willing to regularly tithe (provided you have a job) 10% of all your income to New Life as your church home, and give to missions and other needs as the Lord prompts you to do so? In other words, what role does tithing and giving play in being a good church member?</p>
        </li>
        <li>Giftings
          <p>In what way would you be willing to share any ministry talent you may have with the church? In other words, what giftings has the Lord given you that may be of benefit to New Life?</p>
        </li>
        <li>Supportive of the Vision
          <p>To what extent you be supportive of the mission and vision of this church and its leadership? Please elaborate as much as possible.</p>
        </li>
        <li>Relationships
          <p>How might you build and maintain quality relationships with others in this fellowship, those with whom you have something in common?</p>
        </li>
      </ol>
    </div>
  </div>
</div>