<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">   
      <h1>What we believe</h1>
      <div class="sub-text-headline">We at New Life Church see ourselves as a Biblically-based, full gospel, evangelical mix of non-traditional and traditional believers who love Jesus and want to make Him known to others.  We wish to do this through worship, discipleship, fellowship and the ministry of caring and servanthood.</div>
      <p>New Life Church is affiliated with <a href="http://ag.org/top/">The General Council of the Assemblies of God</a>.</p>
      <p>We are, unashamedly, a full gospel church.  We hold to the central truths of scripture and are respectful of various opinions on doctrine, particularly those regarding eschatology and pneumatology.</p>
    </div>
  </div>
</div>