<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">
      <h1>Get Involved</h1>
      <div class="sub-text-headline">What's so fulfilling about being involved in missions?</div>
      <p>As an individual, supporting missions gives us the chance to invest in:</p>
      <ul>
        <li>something bigger than ourselves</li>
        <li>organizations that are truly making a difference</li>
        <li>people we know first hand</li>
        <li>ministries with accountability</li>
      </ul>
      <p>As a church, supporting missions gives us the privilege of being part of Jesus Christ's last words before He left the earth when He told us to go into all the world and take the gospel message. While we understand that New Life Church is an emerging church in the earlier stages of growth, our goal is to tithe (give 10% of our church income) to missions, around the world and here in the U.S., in addition to receiving missions offerings and supporting special projects. We also enjoy praying for our missionaries regularly and hosting missionaries in our gatherings, and wish to participate in short term trips. New Life Church is a place where you can be involved to PRAY, GIVE, GO AND SEND the Good News of Christ Jesus.</p>
    </div>
  </div>
</div>
