<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">
      <h1>Philosophy</h1>
      <div class="sub-text-headline">New Life Church Missions Policy</div>
      <p>We at New Life Church want to have a Biblical, comprehensive and sustainable missions philosophy.  What you see below is our initial endeavor. </p>
      <ol>
        <li>Missions, both domestic and foreign, is not optional for the Biblical congregation.</li>
        <li>Our goal is to tithe (give 10% of our church income) to missions (local, national, overseas) in addition to receiving special missions offerings and supporting special projects. 5% will be designated toward monthly missions support of on the field missionaries, and 5% will be kept in an account for special missions projects, such as student mission trips.</li>
        <li>Student mission trips:
          <ul>
            <li><b>Attendance: </b>
              We give preference to those who are regular attenders of New Life.  We ask that any student regularly attend (an average 3 of 4 Sundays per month) New Life for at least a semester (4 months) prior to asking for financial mission support from NLC.
            </li>
            <li><b>Validity of the project: </b>
              We also wish to support valid missions endeavors connected to legitimate church or para church organizations with a proven history of credibility.
          </ul>
        </li>
        <li>The leadership team will decide who is supported and to what amount.</li>
        <li>The process of requesting funds
          Apply, in writing, to the leadership team, and address the following:
          <ul>
            <li>history of your faith journey </li>
            <li>where you are going</li>
            <li>when you are going</li>
            <li>sponsoring mission agency</li>
            <li>length of trip</li>
            <li>what you will be doing</li>
            <li>what you hope to gain from the mission</li>
            Please email this request to <a href="{{email}}">{{email}}</a>
          </ul>
        </li>
        <li>At New Life we wish to stress not only corporate but individual responsibility in missions funding.  Thus, we emphasize individual monthly missions giving in the form of faith promises (a commitment to give to the missions budget of NLC or some other missions endeavor on a monthly basis).  We also plan to stress faith promise giving during a yearly spring and fall missions emphasis.</li>
      </ol>
      <p></p>
    </div>
  </div>
</div>

