<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">
      <h1>Who We Support</h1>
      <div class="sub-text-headline">Being missional, both at home and abroad, is an important part of the ministry of New Life.</div>
      <p>Below are some of the missional endeavors we have funded on a one-time, periodic, or monthly basis.
        <ul>
          <li>Steve Bortner, Chi Alpha missionary Kent State University
          <li>Michelle Dallesandro, mission trip to Romania
          <li>Joe Gasbarre, mission trip to beachgoers in New Jersey
          <li>Olivia Johnson, mission trip with Global Expeditions to South Africa
          <li>Anthony Stoll, mission trip to Honduras
          <li>A Canton area man and his family who were temporarily homeless
          <li>A Canton area woman and her family, whose husband was out of work
          <li>Esther Snyder, Orphan's Hope missionary to Ukraine</p>
        </ul>
    </div>
  </div>
</div>


