<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">   
      <h1>Welcome</h1>
      <div class="sub-text-headline">Hello! Welcome to New Life Christian Church!  We are committed to making a difference for Jesus in our local community and the rest of the world.</div>
      <p>Thank you for visiting our website, newlifehartville.org, the information hub for New Life Church.  We hope this site will help you get to know us better and give you options for us to get to know you as well.</p>
      <p>One of New Life&#39;s goals is to be both diverse and dynamic - culturally blended from many sociological, ethnic, belief or non-Christian backgrounds.  We attempt to be relational and compassionate, modeling biblical love for people in their faith journey toward Jesus Christ.</p>
      <p>We want to hear from you. Please e-mail us, call or better yet, stop in for a visit this Sunday. The coffee is on.</p>
    </div>
  </div>
</div>